@model PROJETAKİP.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card mb-4">
        <h5 class="card-header">Personel Ekle</h5>
        <!-- Account -->
        <hr class="my-0">
        <div class="card-body">
            <form id="formAccountSettings" method="POST" onsubmit="return false">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                            <input class="form-control" type="text" id="AdSoyad" name="AdSoyad" value="">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.PersonelGorseli, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                            <input class="form-control" type="text" id="PersonelGorseli" name="PersonelGorseli" value="">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                            <input class="form-control" type="email" name="Eposta" id="Eposta" value="">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Departman, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                            <select name="Departman" class="form-control" required>
                                <option>Seçiniz :</option>
                                <option value="Yazılım">Yazılım</option>
                                <option value="Satış">Satış</option>
                                <option value="Yönetim">Yönetim</option>
                                <option value="Üretim">Üretim</option>
                                <option value="Satın Alma">Satın Alma</option>
                                <option value="Kalite">Kalite</option>
                                <option value="Muhasebe">Muhasebe</option>
                                <option value="IK">IK</option>
                                <option value="İş Geliştirme">İş Geliştirme</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Gorev, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-task"></i></span>
                            <select name="Gorev" class="form-control" required>
                                <option>Seçiniz :</option>
                                <option value="Backend Developer">Backend Developer</option>
                                <option value="Frontend Developer">Frontend Developer</option>
                                <option value="Fullstack Developer">Fullstack Developer</option>
                                <option value="IT Sorumlusu">IT Sorumlusu</option>
                                <option value="Yazılım Takım Lideri">Yazılım Takım Lideri</option>
                                <option value="Proje Yöneticisi">Proje Yöneticisi</option>
                                <option value="Genel Müdür">Genel Müdür</option>
                                <option value="Genel Müdür Yardımcısı">Genel Müdür Yardımcısı</option>
                                <option value="CEO">CEO</option>
                                <option value="Fabrika Müdürü">Fabrika Müdürü</option>
                                <option value="Yönetim Temsilcisi">Yönetim Temsilcisi</option>
                                <option value="Dış Ticaret Sorumlusu">Dış Ticaret Sorumlusu</option>
                                <option value="Satın Alma Personeli">Satın Alma Personeli</option>
                                <option value="Muhasebe Personeli">Muhasebe Personeli</option>
                                <option value="IK Personeli">IK Personeli</option>
                                <option value="İş Geliştirme Personeli">İş Geliştirme Personeli</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.TCNO, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-id-card"></i></span>
                            <input type="text" class="form-control" id="TCNO" name="TCNO">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Yetki, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-user-minus"></i></span>
                            <select name="Yetki" class="form-control" required>
                                <option>Seçiniz :</option>
                                <option value="Üst Yönetim">Üst Yönetim</option>
                                <option value="Yönetim">Yönetim</option>
                                <option value="Normal">Normal</option>
                            </select>
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.TelNo, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                            <input type="text" class="form-control" id="TelNo" name="TelNo" maxlength="11">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-location-plus"></i></span>
                            <input type="text" class="form-control" id="Adres" name="Adres">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.DogumTarihi, htmlAttributes: new { @class = "control-label col-md-6" })
                        <input type="datetime-local" class="form-control" id="DogumTarihi" name="DogumTarihi">
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.IseGirisTarihi, htmlAttributes: new { @class = "control-label col-md-6" })
                        <input type="datetime-local" class="form-control" id="IseGirisTarihi" name="IseGirisTarihi">
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.MedeniHali, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bxs-quote-single-left"></i></span>
                            <select name="MedeniHali" class="form-control" required>
                                <option>Seçiniz :</option>
                                <option value="Evli">Evli</option>
                                <option value="Bekar">Bekar</option>
                            </select>
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bxs-quote-single-right"></i></span>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-lock"></i></span>
                            <input type="password" class="form-control" id="Sifre" name="Sifre">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.PozisyonAciklama, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-note"></i></span>
                            <input type="text" class="form-control" id="PozisyonAciklama" name="PozisyonAciklama">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinBilgisi, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-notepad"></i></span>
                            <select name="YakinBilgisi" class="form-control" required>
                                <option>Seçiniz :</option>
                                <option value="Eşi">Eşi</option>
                                <option value="Babası">Babası</option>
                                <option value="Annesi">Annesi</option>
                                <option value="Çocuğu">Çocuğu</option>
                                <option value="Diğer">Diğer</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinAdSoyad, htmlAttributes: new { @class = "control-label col-md-6" })

                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-male"></i></span>
                            <input type="text" class="form-control" id="YakinAdSoyad" name="YakinAdSoyad">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinTC, htmlAttributes: new { @class = "control-label col-md-6" })

                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-id-card"></i></span>
                            <input type="text" class="form-control" id="YakinTC" name="YakinTC">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinTel, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                            <input type="text" class="form-control" id="YakinTel" name="YakinTel">
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Personel Oluştur</button>
                    <a href="/PersonelBilgileris/Index/" type="reset" class="btn btn-outline-secondary">Anasayfa Dön</a>
                </div>
            </form>
        </div>
        <!-- /Account -->
    </div>

}


